In [12]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pymysql in c:\users\ruchita\appdata\roaming\python\python39\site-packages (1.0.2)

In [1]:
# Import module
import pymysql
import pandas as pd
import mysql.connector as sql
from sqlalchemy import create_engine

In [47]:


# create connection
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='ruchita',
                             db='pizza_runner')

# Create cursor
my_cursor = connection.cursor()

# Execute Query
my_cursor.execute("SELECT * from pizza_recipes")

# Fetch the records
result = my_cursor.fetchall()

for i in result:
    print(i)

# Close the connection
connection.close()

(1, '1, 2, 3, 4, 5, 6, 8, 10')
(2, '4, 6, 7, 9, 11, 12')

### Cleaning pizza_recipes

In [74]:
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://root:ruchita@localhost/pizza_runner"
                       .format(user="localhost",
                               pw="ruchita",
                               db="pizza_runner"))
connection = engine.connect()

In [75]:
    mydb = sql.connect(host="localhost", database = 'pizza_runner',user="root", passwd="ruchita",use_pure=True)
    query = "Select * from pizza_recipes;"
    clean_pizza_recipes = pd.read_sql(query,mydb)
   # mydb.close() #close the connection

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [76]:
clean_pizza_recipes=clean_pizza_recipes.assign(toppings=clean_pizza_recipes.toppings.str.split(",")).explode('toppings')
clean_pizza_recipes

   pizza_id toppings
0         1        1
0         1        2
0         1        3
0         1        4
0         1        5
0         1        6
0         1        8
0         1       10
1         2        4
1         2        6
1         2        7
1         2        9
1         2       11
1         2       12

In [77]:
clean_pizza_recipes = clean_pizza_recipes.set_index('pizza_id')
clean_pizza_recipes

         toppings
pizza_id
1               1
1               2
1               3
1               4
1               5
1               6
1               8
1              10
2               4
2               6
2               7
2               9
2              11
2              12

In [78]:
clean_pizza_recipes['toppings']= clean_pizza_recipes.toppings.str.strip()
clean_pizza_recipes

         toppings
pizza_id
1               1
1               2
1               3
1               4
1               5
1               6
1               8
1              10
2               4
2               6
2               7
2               9
2              11
2              12

In [53]:
clean_pizza_recipes.to_sql('clean_pizza_recipes', con = engine, if_exists='replace')

14

### Cleaning customer_orders

In [54]:
query2 = "select * from clean_customer_orders"
clean_customer_orders = pd.read_sql(query2, mydb)
clean_customer_orders

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    order_id  customer_id  pizza_id exclusions extras          order_time
0          1          101         1       None   None 2020-01-01 18:05:02
1          2          101         1       None   None 2020-01-01 19:00:52
2          3          102         1       None   None 2020-01-02 23:51:23
3          3          102         2       None   None 2020-01-02 23:51:23
4          4          103         1          4   None 2020-01-04 13:23:46
5          4          103         1          4   None 2020-01-04 13:23:46
6          4          103         2          4   None 2020-01-04 13:23:46
7          5          104         1       None      1 2020-01-08 21:00:29
8          6          101         2       None   None 2020-01-08 21:03:13
9          7          105         2       None      1 2020-01-08 21:20:29
10         8          102         1       None   None 2020-01-09 23:54:33
11         9          103         1          4   1, 5 2020-01-10 11:22:59
12        10          104         1       None   None 2020-01-11 18:34:49
13        10          104         1       2, 6   1, 4 2020-01-11 18:34:49
14         1          101         1       None   None 2020-01-01 18:05:02
15         2          101         1       None   None 2020-01-01 19:00:52
16         3          102         1       None   None 2020-01-02 23:51:23
17         3          102         2       None   None 2020-01-02 23:51:23
18         4          103         1          4   None 2020-01-04 13:23:46
19         4          103         1          4   None 2020-01-04 13:23:46
20         4          103         2          4   None 2020-01-04 13:23:46
21         5          104         1       None      1 2020-01-08 21:00:29
22         6          101         2       None   None 2020-01-08 21:03:13
23         7          105         2       None      1 2020-01-08 21:20:29
24         8          102         1       None   None 2020-01-09 23:54:33
25         9          103         1          4   1, 5 2020-01-10 11:22:59
26        10          104         1       None   None 2020-01-11 18:34:49
27        10          104         1       2, 6   1, 4 2020-01-11 18:34:49

clean_customer_orders = clean_customer_orders.assign(exclusions=clean_customer_orders.exclusions.str.split(",")).explode('exclusions')
clean_customer_orders

In [56]:
clean_customer_orders = clean_customer_orders.assign(extras=clean_customer_orders.extras.str.split(",")).explode('extras')
clean_customer_orders

    order_id  customer_id  pizza_id exclusions extras          order_time
0          1          101         1       None   None 2020-01-01 18:05:02
1          2          101         1       None   None 2020-01-01 19:00:52
2          3          102         1       None   None 2020-01-02 23:51:23
3          3          102         2       None   None 2020-01-02 23:51:23
4          4          103         1          4   None 2020-01-04 13:23:46
5          4          103         1          4   None 2020-01-04 13:23:46
6          4          103         2          4   None 2020-01-04 13:23:46
7          5          104         1       None      1 2020-01-08 21:00:29
8          6          101         2       None   None 2020-01-08 21:03:13
9          7          105         2       None      1 2020-01-08 21:20:29
10         8          102         1       None   None 2020-01-09 23:54:33
11         9          103         1          4      1 2020-01-10 11:22:59
11         9          103         1          4      5 2020-01-10 11:22:59
12        10          104         1       None   None 2020-01-11 18:34:49
13        10          104         1          2      1 2020-01-11 18:34:49
13        10          104         1          2      4 2020-01-11 18:34:49
13        10          104         1          6      1 2020-01-11 18:34:49
13        10          104         1          6      4 2020-01-11 18:34:49
14         1          101         1       None   None 2020-01-01 18:05:02
15         2          101         1       None   None 2020-01-01 19:00:52
16         3          102         1       None   None 2020-01-02 23:51:23
17         3          102         2       None   None 2020-01-02 23:51:23
18         4          103         1          4   None 2020-01-04 13:23:46
19         4          103         1          4   None 2020-01-04 13:23:46
20         4          103         2          4   None 2020-01-04 13:23:46
21         5          104         1       None      1 2020-01-08 21:00:29
22         6          101         2       None   None 2020-01-08 21:03:13
23         7          105         2       None      1 2020-01-08 21:20:29
24         8          102         1       None   None 2020-01-09 23:54:33
25         9          103         1          4      1 2020-01-10 11:22:59
25         9          103         1          4      5 2020-01-10 11:22:59
26        10          104         1       None   None 2020-01-11 18:34:49
27        10          104         1          2      1 2020-01-11 18:34:49
27        10          104         1          2      4 2020-01-11 18:34:49
27        10          104         1          6      1 2020-01-11 18:34:49
27        10          104         1          6      4 2020-01-11 18:34:49

In [13]:
# clean_customer_orders.to_sql('clean_customer_orders', con = engine, if_exists='replace')

In [57]:
clean_customer_orders = clean_customer_orders.set_index('order_id')
clean_customer_orders

          customer_id  pizza_id exclusions extras          order_time
order_id
1                 101         1       None   None 2020-01-01 18:05:02
2                 101         1       None   None 2020-01-01 19:00:52
3                 102         1       None   None 2020-01-02 23:51:23
3                 102         2       None   None 2020-01-02 23:51:23
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         2          4   None 2020-01-04 13:23:46
5                 104         1       None      1 2020-01-08 21:00:29
6                 101         2       None   None 2020-01-08 21:03:13
7                 105         2       None      1 2020-01-08 21:20:29
8                 102         1       None   None 2020-01-09 23:54:33
9                 103         1          4      1 2020-01-10 11:22:59
9                 103         1          4      5 2020-01-10 11:22:59
10                104         1       None   None 2020-01-11 18:34:49
10                104         1          2      1 2020-01-11 18:34:49
10                104         1          2      4 2020-01-11 18:34:49
10                104         1          6      1 2020-01-11 18:34:49
10                104         1          6      4 2020-01-11 18:34:49
1                 101         1       None   None 2020-01-01 18:05:02
2                 101         1       None   None 2020-01-01 19:00:52
3                 102         1       None   None 2020-01-02 23:51:23
3                 102         2       None   None 2020-01-02 23:51:23
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         2          4   None 2020-01-04 13:23:46
5                 104         1       None      1 2020-01-08 21:00:29
6                 101         2       None   None 2020-01-08 21:03:13
7                 105         2       None      1 2020-01-08 21:20:29
8                 102         1       None   None 2020-01-09 23:54:33
9                 103         1          4      1 2020-01-10 11:22:59
9                 103         1          4      5 2020-01-10 11:22:59
10                104         1       None   None 2020-01-11 18:34:49
10                104         1          2      1 2020-01-11 18:34:49
10                104         1          2      4 2020-01-11 18:34:49
10                104         1          6      1 2020-01-11 18:34:49
10                104         1          6      4 2020-01-11 18:34:49

In [58]:
clean_customer_orders['extras']= clean_customer_orders.extras.str.strip()
clean_customer_orders['exclusions']= clean_customer_orders.exclusions.str.strip()

clean_customer_orders

          customer_id  pizza_id exclusions extras          order_time
order_id
1                 101         1       None   None 2020-01-01 18:05:02
2                 101         1       None   None 2020-01-01 19:00:52
3                 102         1       None   None 2020-01-02 23:51:23
3                 102         2       None   None 2020-01-02 23:51:23
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         2          4   None 2020-01-04 13:23:46
5                 104         1       None      1 2020-01-08 21:00:29
6                 101         2       None   None 2020-01-08 21:03:13
7                 105         2       None      1 2020-01-08 21:20:29
8                 102         1       None   None 2020-01-09 23:54:33
9                 103         1          4      1 2020-01-10 11:22:59
9                 103         1          4      5 2020-01-10 11:22:59
10                104         1       None   None 2020-01-11 18:34:49
10                104         1          2      1 2020-01-11 18:34:49
10                104         1          2      4 2020-01-11 18:34:49
10                104         1          6      1 2020-01-11 18:34:49
10                104         1          6      4 2020-01-11 18:34:49
1                 101         1       None   None 2020-01-01 18:05:02
2                 101         1       None   None 2020-01-01 19:00:52
3                 102         1       None   None 2020-01-02 23:51:23
3                 102         2       None   None 2020-01-02 23:51:23
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         1          4   None 2020-01-04 13:23:46
4                 103         2          4   None 2020-01-04 13:23:46
5                 104         1       None      1 2020-01-08 21:00:29
6                 101         2       None   None 2020-01-08 21:03:13
7                 105         2       None      1 2020-01-08 21:20:29
8                 102         1       None   None 2020-01-09 23:54:33
9                 103         1          4      1 2020-01-10 11:22:59
9                 103         1          4      5 2020-01-10 11:22:59
10                104         1       None   None 2020-01-11 18:34:49
10                104         1          2      1 2020-01-11 18:34:49
10                104         1          2      4 2020-01-11 18:34:49
10                104         1          6      1 2020-01-11 18:34:49
10                104         1          6      4 2020-01-11 18:34:49

In [59]:
clean_customer_orders.to_sql('clean_cust_orders', con = engine, if_exists='replace')

36

### setting index pizza_recipes